military_presence_map.html
prediction_map.html
terrain_data_Sumy Oblast.json
terrain_data_Kyiv Oblast.json
terrain_analysis_sumy_oblast.json
terrain_suitability_sumy_oblast.png
terrain_analysis_kyiv_oblast.json
terrain_suitability_kyiv_oblast.png